<a routerLink="" routerLinkActive="inactive" (click)="goBack()">Back</a>

<div class="container">
  <div
    *ngIf="airline == null"
    class="spinner-border text-success"
    role="status"
  ></div>

  <div *ngIf="airline != null">
    <h1>{{ airline?.name }}</h1>
    <h5>Country: {{ airline?.country }}</h5>
    <h5>head_quaters: {{ airline?.head_quaters }}</h5>
    <h5>established: {{ airline?.established }}</h5>
    <h5>slogan: {{ airline?.slogan }}</h5>
    <h5>website: {{ airline?.website }}</h5>
  </div>
</div>
