<a routerLink="" routerLinkActive="inactive" (click)="goBack()">Home</a>

<div class="container">
  <div class="col-md-12">
    <div id="form">
      <form [formGroup]="form">
        <div class="form-group" style="margin-top:1em">
          <label>* Enter your Name </label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            placeholder="Agent 6"
            required
          />

          <div
            *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors?.['required']">Name is required.</div>
            <div *ngIf="f.name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top:1em">
          <label>* Enter the Trips count </label>
          <input
            type="number"
            id="trips"
            class="form-control"
            formControlName="trips"
            placeholder="200"
            required
          />

          <div
            *ngIf="f.trips.invalid && (f.trips.dirty || f.trips.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.trips.errors?.['required']">Trips is required.</div>
          </div>
        </div>

        <div class="form-group" style="margin-top:1em">
          <label>* Enter your Airline Id </label>
          <input
            type="number"
            id="airlineId"
            class="form-control"
            formControlName="airlineId"
            placeholder="3"
            required
          />

          <div
            *ngIf="
              f.airlineId.invalid && (f.airlineId.dirty || f.airlineId.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="f.airlineId.errors?.['required']">
              airlineId is required.
            </div>
          </div>
        </div>

        <div style="text-align:center; margin-top:1em">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="createPassenger()"
          >
            Submit
          </button>
        </div>
        <div
          *ngIf="showpopup"
          style="margin-top:1em"
          class="alert alert-warning"
        >
          Please Enter the required details
        </div>

        <div
          *ngIf="sucesspopup && res != null && res.airline[0] != null"
          style="margin-top:1em"
          class="alert alert-success"
        >
          Successfully created new passenger for
          {{ res?.airline[0]?.name }} airline with id {{ res?.airline[0]?.id }}.
        </div>

        <div
          *ngIf="sucesspopup == false && res != null && res.airline[0] == null"
          style="margin-top:1em"
          class="alert alert-danger"
        >
          Something Wrong, Please try again.
        </div>
      </form>
    </div>
  </div>
</div>
