<div style="margin-top:1em" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 style="text-align:center">Passenger Details</h2>
    </div>

    <div class="col-md-4">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="createPassenger()"
      >
        Create New Passenger
      </button>
    </div>

    <div class="col-md-2">
      <a routerLink="/test" routerLinkActive="active">Test</a>
    </div>
  </div>
</div>

<div *ngIf="dataList == null" class="text-center">
  <div class="spinner-border" role="status"></div>
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="dataList != null" class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Total Trips</th>
          <th>Airline ID</th>
          <th>Airline Country</th>
          <th>Airline Est.</th>
          <th>Airline Logo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{ data?.name }}</td>
          <td>{{ data?.trips }}</td>
          <td>
            <a
              [routerLink]="'/airline/' + (data?.airline[0]?.id || '')"
              routerLinkActive="active"
              >{{ data?.airline[0]?.id }}</a
            >
          </td>
          <td>{{ data?.airline[0]?.country }}</td>
          <td>{{ data?.airline[0]?.established }}</td>
          <td>
            <img
              [src]="data?.airline[0]?.logo"
              alt="pic"
              class="img-thumbnail"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
