<h2 style="text-align:center">Passenger Details</h2>

<div *ngIf="dataList == null" class="text-center">
  <div class="spinner-border" role="status"></div>
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="dataList != null" class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Total Trips</th>
          <th>Airline ID</th>
          <th>Airline Country</th>
          <th>Airline Logo</th>
          <th>Airline Est.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataList">
          <td>{{ data?.name }}</td>
          <td>{{ data?.trips }}</td>
          <td>
            <a
              [routerLink]="'/airline/' + (data?.airline[0]?.id || '')"
              routerLinkActive="active"
              >{{ data?.airline[0]?.id }}</a
            >
          </td>
          <td>{{ data?.airline[0]?.country }}</td>
          <td><img [src]="data?.airline[0]?.logo" alt="pic" /></td>
          <td>{{ data?.airline[0]?.established }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
